@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --main-color: rgb(26, 26, 27);
  --main-dark-color: rgb(29, 28, 31);
}

/* General */
body {
  font-family: "proxima-nova", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--main-color);
  color: rgb(247, 247, 247);
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: white;
  transition: all ease 0.1s;
}
a:hover {
  text-decoration: none;
  color: rgb(230, 230, 230);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* body.boltbreak {
  color: var(--main-color);
  background-color: rgb(245, 245, 245);
} */

h2 {
  margin-top: 9rem;
  margin-bottom: 1.8rem;
  font-size: 62px;
}
p {
  font-size: 20px;
}

/* Header */

.header-container {
  width: 100%;
  background-color: rgba(35, 36, 36, 0.95);
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.header-container img {
  height: 120px;
  padding-left: 50px;
}
.header-container .links {
  padding-right: 90px;
  font-size: 24px;
}
.header-container .links a {
  line-height: 120px;
  margin: 0 20px;
}
.links a.selected {
  color: rgb(228, 227, 227);
}
.hamburger-navbar {
  display: none;
}

/* video */
.background-video {
  margin-top: -11rem;
  z-index: -10;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.background-image {
  position: absolute;
  margin-top: 120px;
  z-index: -10;
  width: 100vw;
}
.background-image img {
  width: 100%;
}
.separator {
  margin-top: 834px;
}
.separator.mallOfMayhem {
  margin-top: 1104px;
}
.overlay {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 4px;
  position: absolute;
  z-index: -1;
  font-size: 2.2rem;
  color: rgb(231, 231, 231);
  transform: translateY(625px);
  padding-left: 80px;
}
.overlay.mallOfMayhem {
  transform: translateY(825px);
}
.overlay-layer {
  position: absolute;
  z-index: -9;
  width: 100vw;
  height: 904px;
  background-color: rgba(0, 0, 0, 0.15);
}

/* carosoul */
.carosoul {
  width: 40%;
}
.carosoul img {
  max-height: 520px;
}

/* info */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 52%;
}
.info img {
  width: 300px;
}
.info a {
  text-decoration: underline;
}

/* wishlist */
.wishlist {
  margin-top: 5rem;
  display: flex;
  border-radius: 25px;
  border: 2px solid rgb(73, 73, 61);
  transition: all ease 0.1s;
  text-decoration: none !important;
}
.wishlist img {
  width: auto;
  height: 60px;
  transform: translateX(-10px);
}
.wishlist h3 {
  line-height: 60px;
  transform: translateX(-20px);
}
.wishlist:hover {
  transform: scale(1.03);
}

/* Footer */
footer {
  margin-top: 8rem;
  font-size: 14px;
  padding: 28px;
  text-align: center;
  width: 100%;
  background-color: rgb(0, 0, 0);
}
footer a {
  color: rgb(245, 245, 245);
}
footer a:hover {
  color: rgb(209, 209, 209);
}

/* Mobile */
@media (max-width: 520px) {
  .header-container img {
    height: 100px;
    padding-left: 0px;
  }
  i,
  a {
    color: rgb(247, 247, 247) !important;
  }
  button:focus {
    outline: none;
  }
  li {
    margin: 0.14rem;
    text-align: center;
  }

  .hamburger-navbar {
    display: flex;
  }
  .desktop {
    display: none;
  }
}
